@import 'vars';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    font-family: $font-family-main;
    font-weight: 400;
    font-size: $font-size-main;
    color: $font-color-main;
    overflow-x: hidden;
}
ul{
    padding-left: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}